@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2018-03-29 20:47:17
 * @version $Id$
 */


/* ==== 公共类开始 ====*/
body{

    font:14px/1.5 'Microsoft YaHei';
    letter-spacing: 2px;
}

.pos-r{
    position: relative;
}
.pos-a{
    position: absolute;
}
.pos-f{
    position: fixed;
}
.line-b{
    position: relative;

}
.underline{
    position: relative;
}
.underline i{
    position: absolute;
    width:0%;
    height:1px;
    left:0;
    bottom:0;
    transition:width .4s;
    background-color: rgba(100,249,189,0.3);
}
.underline:hover i{
    width:20%;
}
.underline:focus i{
    width:20%;
    background-color: rgba(100,249,189,1);
}
.line-b:after{
   position: absolute;
   bottom:-12px;
   content: '';
   display: block;
   width:100%;
   left:0;
   height:0px;
   background-color:#8B8B8B;
   transition: height 0.3s;
}
.line-b:hover:after{
    height:3px;
}
.line-b:before{
    content: '';
    left:0;
    display: block;
    position: absolute;
    bottom:-12px;
    width:100%;
    height:2px;
    background-color: #ccc;
}
.line-b i{
    left:0;
    display: block;
    position: absolute;
    bottom:-12px;
    width:0%;
    height:2px;
    background-color: #8B8B8B;

}

html,body{
    height:100%;
}
/* ==== 公共类结束 ====*/
/* ==== 顶部工具栏 ==== */
#wrap{
    overflow: hidden;
}
.header{
    z-index:99999;
}
.header .toolbar{
    background-color: #EFEFEF;
    height:40px;
}
.header .toolbar .navbar{
    height:40px;
}
.header .toolbar .navbar .navbar-brand{
   color:#68DEC3;
   font-style: italic;
   font-size: 13px;
}
.header .toolbar .navbar .wrap{
    height:40px;
    overflow: hidden;
}
.header .toolbar .navbar  .wrap ul.navbar-nav{
    display: block;
    position: relative;
    top:0;
   /* border:1px solid red;*/
}
.header .toolbar .navbar .wrap ul.navbar-nav li a{
    font-size:14px;
}
/* 右边*/
.header .toolbar ul.nav-right{
    height:18px;
    margin-top:12px;
}
.header .toolbar ul.nav-right li a{
    line-height: 1;
    padding:0 10px;
    color:#666;
    border-right:1px solid #DDDDDD;

}

.header .toolbar ul.nav-right li a:hover{

    color:#222;

}
.header .toolbar ul.nav-right li.last a{
    padding-right:30px;
}
.header .toolbar ul.nav-right li a svg{
    width:25px;
    height:26px;
    fill:#68DEC3;
    top:-8px;
    right:3px;
}

.header .nav .nav-bgc{
    height:100%;
    background-color: #fff;
    transform-origin: bottom;
    transition:0.5s;
    opacity: 0;
    transform:rotateX(90deg);
}
.header .nav .transform{
    opacity: 1;
    transform:rotateX(0deg);
}
.header .nav .container{
    padding-top:7px;
    padding-bottom:7px;
}
.header .nav .col-8{
    position:inherit;
}
.header .nav .nav-left{
    margin-top: 10px;
}
.header .nav .nav-left .navbar-brand svg{
    width:120px;
    height:33px;
}
.header .nav .nav-left ul.navbar-nav li a{
    position: relative;
    margin:0 10px;
    color:#666;
}
.header .nav .nav-left ul.navbar-nav>li>a:after{
    content:'';
    width:100%;
    height:1px;
    background-color: #5E6ED6;
    position: absolute;
    bottom:-10px;
    left:0;
    opacity:0;
    transition:bottom 0.3s,opacity 0.1s;


}
.header .nav .nav-left ul.navbar-nav>li>a:hover:after{
    bottom:-25px;
    opacity:1;
}
.header .nav ul.nav-right{
     padding-top:13px;
}

.header .nav .nav-left ul.navbar-nav li .menu{
    position: absolute;
    width:100%;
    top:84px;
    left:0;
    background-color: #2E3C72;

    transform-origin: top;  /*旋转中心*/
    transform: rotateX(90deg);
    transition: transform 0.5s,opacity 0.3s;
    opacity: 0;
}
.header .nav .nav-left ul.navbar-nav li:hover .menu{
    transform: rotateX(0deg);
    opacity: 1;
}

.header .nav .nav-left ul.navbar-nav li .menu svg{
    width:108px;
    height:32px;
    fill:#fff; /*svg填充色*/
}
.header .nav .nav-left ul.navbar-nav li .menu svg.v-mall{
    width:65px;
    height:32px;
    fill:#fff; /*svg填充色*/
    margin-right:10px;
}
.header .nav .nav-left ul.navbar-nav li .menu ul li{
    padding:22px 22px 5px;
    font-size: 14px;
}
.header .nav .nav-left ul.navbar-nav li .menu ul li.v-mall{
   width:20%;
}
.header .nav .nav-left ul.navbar-nav li .menu ul li:hover{
    background-color: #25305B;
}
.header .nav .nav-left ul.navbar-nav li .menu ul li .text{
   opacity: 0
}
.header .nav .nav-left ul.navbar-nav li .menu ul li:hover .text{
   opacity: 1;
}

.header .nav .nav-left ul.navbar-nav li .menu ul li a{
    text-decoration: none;
    color:#fff;
}
.header .nav .nav-left ul.navbar-nav li .menu ul li a p{
    margin:10px 0 15px;
}
.header .nav .nav-left ul.navbar-nav li .menu ul li a span{
    display: block;
    color:#bbb;
    margin: 8px 0;
}
.header .nav .nav-left ul.navbar-nav li .menu ul li a span i{
    font-style: normal;
    margin-right:5px;

    color:#eee;
}
.header .nav ul.nav-right li a.btn{
    width:58px;
    height:28px;
    padding:0;
    text-align: center;
    line-height:25px;
    border-radius:28px;
    margin-top:6px;
    background-color:#777;
    border-color:#777;
}
.header .nav ul.nav-right li a.btn:hover{

    background-color:#000;
}
.header .nav ul.nav-right li a.lang span{
    display: inline-block;
    line-height:16px;

    border-radius:22px;

}
 /*============= 头部轮播 ============*/
.banner{
    position: relative;
    height:90%;

}
.banner .bg-video{
    position: absolute;
    height:100%;
    left:50%;

}
.banner .bg-video video{
    height:120%;
    position: absolute;
    min-height: 750px;
    /*min-width:100%;*/
    /*margin-left:-50%;*/
    bottom:0;
    transform: translate(-50%,00);
}

.banner .marker{
    position: relative;
    z-index:1;
    height:100%;
    padding-top:285px;
}
.banner .marker .container{
    padding:100px;

}
.banner .marker .content{
    position: absolute;
    top:38%;
    color:#555;
}
.banner .marker .content .wrap{
    overflow: hidden;
    height:45px;
    /*border: 1px solid red;*/
}
.banner .marker .content .wrap h1{
    font-size: 36px;
}
.banner .marker .content .wrap ul{
    position: relative;
    top:0;

}
.banner .marker .content .wrap ul li{

    height:45px;
}
.banner .marker .content .wrap ul li a{
    display: block;
    height:100%;
    padding-top: 5px;
}
.banner .marker .content .wrap ul li a img{

    height:38px;
}
.banner .marker .content p{
    margin-top: 10px;
    font-size: 18px;
}

.banner .marker .btn-group{
    margin-top:50px;
}
.banner .marker .btn-group .btn a{
    display: block;
    width:140px;
    height:43px;
    border-radius: 43px;
    line-height: 42px;
    vertical-align: middle;
}
.banner .marker .btn-group .btn a svg{
    height:19px;
    width:19px;
    vertical-align: middle;
    margin-right: 5px;

}
.banner .marker .btn-group .btn-left a svg{
    fill:#fff;
}
.banner .marker .btn-group .btn a:hover{
    text-decoration: none;
    box-shadow: 0 9px 30px -3px #848484;
}
.banner .marker .btn-group .btn-left a{
    background-color: #4A4A4A;
    color:#fff;
}

.banner .marker .btn-group .btn-right a{
    border: 1px solid #555;
    color:#555;
}

.banner .marker ul.tab{
    bottom:85px;
}
.banner .marker ul.tab li{
    margin-right: 75px;
}

.banner .marker ul.tab li a{
    color:#888;
    display: block;

}
.banner .marker ul.tab li a:hover{
    text-decoration: none;

}
.banner .marker ul.tab li a.line-b i:after{
    /*width:100%;*/
}


/*视频弹窗*/
.banner .video-wrap{
    width:50px;
    height:50px;
     z-index:10;
    overflow: hidden;
    background: #232B5C;
    top:371px;
    left:507px;
    border-radius: 50%;
    display:none;
}
.banner .big{
/*
    width:3790px;
    height:3790px;*/
    /*top:50%;
    left:50%;*/
    /*margin-left: -1880px;
    margin-top: -1880px;*/
}

.banner .big .wrap{
    position: absolute;
    width:100%;
    top:1700px;
    display: none;
}

.banner .big .wrap ul li{
    height:40px;
    line-height: 40px;
    margin:10px;

}
.banner .big .wrap ul li a{
    display:block;
    text-align: center;
    background-color: #151A37;
}
.banner .big .wrap .content{
    width:90%;
}
.banner .big .wrap .content .close{
    width:50px;
    height:50px;
    background-color: #191E41;
    right:-50px;
    top:0;
    line-height: 50px;
    text-align: center;
}
.system{
    background-color: #fff;
}
.system ul li{
    position: relative;
    margin:0 1px;
    background-image: linear-gradient(to top,#fff,#efefef);

}
.system ul li:nth-child(1):hover{
    z-index:1;
    background-image:linear-gradient(45deg,#3E88D8,#2FBBFE);
    box-shadow:0 5px 35px -4px #3E88D8;
}
.system ul li:nth-child(2):hover{
    z-index:1;
    background-image:linear-gradient(45deg,#24CEC9,#23E4E3);
    box-shadow:0 5px 35px -4px #3E88D8;
}
.system ul li:nth-child(3):hover{
    z-index:1;
    background-image:linear-gradient(45deg,#6870C9,#7885E9);
    box-shadow:0 5px 35px -4px #3E88D8;
}
.system ul li:nth-child(4):hover{
    z-index:1;
    background-image:linear-gradient(135deg,#5857FF,#4EBBFF);
    box-shadow:0 5px 35px -4px #3E88D8;
}
.system ul li a{
    display: block;
    padding:35px 0;
    color:#888;
    text-decoration: none;
    transform:scale(1);
    transition:transform .2s;
}
.system ul li:hover a{
    transform:scale(1.1);
}
.system ul li:hover p{
    color:#fff;
    transform:scale(1.2);
}
.system ul li a svg{
    width:163px;
    height:40px;

}

.worth{


}
.worth .canvas-wrap{
    height:100%;
}

.worth .tab{
    padding:100px 0;
}
.worth .tab ul.nav{
    margin:25px 0;

}
.worth .tab ul.nav li a{
    display: block;
    line-height: 2.5;
    color:#666;
}
.worth .tab ul.nav li a:hover{
    text-decoration: none;
}

.worth .tab ul.nav li a.line-b i{
    width:0%;
    height:2px;
    bottom:-5px;
}

.more-wrap a{
    color:#29DBB3;
    font-size: 16px;
     vertical-align: middle;
}
.more-wrap svg{
    fill:#29DBB3;
    width:24px;
    height:24px;
    vertical-align: middle;
}
 /* ================= 解决方案 =========== */
.card-container{
    margin: 100px 0;
}
.card-container .tab{
    padding:30px 0;
}
.card-container .tab .top h3{
    color:#444;
}
.card-container .tab .top span{
    line-height: 1.8;
    color:#999;
}
.card-container .tab .card-wrap{
    padding:30px 0;
}
.card-container .tab .card-wrap .card{
    border:none;
}
.card-container .tab .card-wrap .card .card-header{
    background-color: inherit;
    border-bottom: none;
    padding:15px 0;
}
.card-container .tab .card-wrap .card .card-header .btn{
    padding:0;
    color:#4a4a4a;
}
.card-container .tab .card-wrap .card .card-header  i{
    background-color: #efefef;
}
.card-container .tab .card-wrap .card .card-header :hover i{
    width:15%;
}
.card-container .tab .card-wrap .card .card-header .btn:hover{
    text-decoration: none;
}
.card-container .tab .card-wrap .card .card-header .btn:focus{
    color:#2a2a2a;
    font-size:1.02em;
    text-decoration: none;
}
.card-container .tab .card-wrap .card .card-body{
    padding:15px 0 15px;
    color:#222;
}
.card-container .tab .card-wrap .card .card-body{
    position: relative;
}
.card-container .tab .card-wrap .card .card-body .focus{
    color:#454545;
}
.card-container .tab .card-wrap .card .card-body .focus:before{
    position: absolute;
    content: '';
    width:0;
    height:1px;
    background-color: #26D5AD;
    transition:width 0.5s;
    bottom:0;
}
.card-container .tab .card-wrap .card .show .card-body .focus:before{
    width:50%;
}


/*=========== Video++应用中心 =========*/
.application-center .center-top  h3{
    font-size: 24px;
}
.application-center .center-top p{
    color:#999;
    font-size: 12px;
    margin-top:15px
}
.application-center .center-top .more-wrap{
    margin: 35px 0;
}
.application-center .center-top .more-wrap a{
    margin:0 5px 0 15px;
}
.application-center .center-content .menu{
    margin-bottom: 40px;
}
.application-center .center-content .menu>p{
    width:60px;
    padding:35px 40px 0 0;
}

.application-center .center-content .menu ul li{
    padding:0 50px;
}
.application-center .center-content .menu ul li a img{
    width:278px;
}
.application-center .center-content .menu ul li a p{
    margin-top:20px;
}
/* ====== 开放式视频创收应用 ====== */
.partners-revenue .revenue-top p{
    color:#999;
    margin-top:15px;
}
.partners-revenue .revenue-top p svg{
    width:20px;
    height:12px;
}
.partners-revenue .revenue-top .more-wrap{
    margin:55px 0 20px;
}
.partners-revenue ul.revenue-content li .number{
    font-size: 22px ;
    font-weight: bold;
    color:#333;
    margin-bottom: 20px;

}
.partners-revenue ul.revenue-content li .number h4{
    font-size: 36px ;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}
.partners-server{
    margin:100px 0;
}
.partners-server .server-top h4{
    font-size: 20px;
    color:#444;


}
.partners-server .server-top p{
    color:#888;
}
.partners-server .server-content{
    overflow: hidden;
}
/*============案例========*/
.cases{
    background-image:linear-gradient(to top,#ededed,#fff);
}
.cases .cases-top .text{
    padding:0 60px;
}
.cases .cases-top .text .tab-content{
    overflow:hidden;
    position: relative;
    color:#666;

}
.cases .cases-top .text .tab-content h4{
   font-size:20px;
   padding-bottom: 20px;
}
.cases .cases-top .text .tab-content .tab-pane{
     padding:50px 80px 60px 0;
    position: absolute;
    top:0;
}

.cases .cases-top .picture .bgc{

   width:430px;
    height:215px;
   background-image: linear-gradient(to right,#E3E3E3,#C8C8C8);
   border-radius: 25px;
}
.cases .cases-top .picture img{
    position: absolute;top:0;
    left:-45px;
   /* background: red url('../images/Phone.png') no-repeat center/430px 215px;*/
}
.cases .cases-top .picture ul{
    position: absolute;
    top:0px;
}
.cases .cases-top .picture ul li{
    position: absolute;
    top:33px;
    left:90px;
}
.cases .cases-top .picture ul li img{
    width:300px;
}
.cases .cases-content{
    padding:40px;
}
.cases .cases-content .nav-tabs{
    border:none;
}
.cases .cases-content .nav-tabs .nav-link{
    border:none;
    padding:6px 0;
    margin:0 1%;
}
.cases .cases-content .nav-tabs .nav-link.active{
    border-bottom: 1px solid #50E3C2;
}
.cases .cases-content  a.btn-light{
    width:103px;
    font-size: 12px;
    display: block;
    line-height:26px;
    border-radius:44px;
    /*color:#fff;*/
}
.cases .cases-content  a.btn-light:hover{
    /*color:#fff;*/
}
    /*============= Video++ 正在创造的 ===========*/
.product{
    background-color:#F8F8F8;
}
.product .marker{
    padding:100px 0;
    color:#555;
}
.product .marker ul{
    padding:65px 0 60px;
}
.product .marker ul li{
    padding:;
}
.product .marker ul li a{
    display: block;
    padding:15px 0;
    color:#555;
    border-radius:5px;
    background-color: rgba(255,255,255,0.8);
}
.product .marker ul li a:hover{
   text-decoration: none;
   box-shadow:0 0 25px -1px rgba(103,118,182,.5);
}

    /*==========加入我们===========*/

.join{
    height:475px;
    overflow: hidden;

}
.join video{
    left:50%;
    top:50%;
    margin-top:-540px;
    margin-left:-960px;
}
.join .marker .wrap{
    position: relative;
    z-index: 99;
    color:#555;
    width:530px;
    margin:100px auto;
    background-color:rgba(255,255,255,.5);
    padding:40px 90px;
}
.join .marker .wrap ol{
    padding-bottom:25px;
    border-color:#999 !important;

}

.join .marker .wrap ul li a svg{
    width:60px;
    height:60px;
}
.join .marker .wrap ul li:nth-child(1) a svg{
    fill:#16D2AD
}
.join .marker .wrap ul li:nth-child(2) a svg{
    fill:#34B187
}
.join .marker .wrap ul li:nth-child(3) a svg{
    fill:#38A7D8
}
.join .marker .wrap ul li:nth-child(4) a svg{
    fill:#7170D2;
}
  /* ============= 合作模式 =============*/
.cooperation{
    padding:45px 0;
    background-color: #f8f8f8;
}
.cooperation ul li svg{
    width:45px;
    height:45px;
    fill:#e8e8e8;
}

.cooperation ul li h5{
    margin:25px 0 20px;
}
.cooperation ul li p{
    color:#666;
   margin-bottom: 1.2rem;
}

.customer{
    margin:53px 0;
}

.customer .list-group ul li dl dt{
    font-size:1rem;
    color:#4A4A4A;
    margin-bottom:19px;
}
.customer .list-group ul li dl dd a{
    font-size:0.95rem;
    color:rgb(127, 130, 135);
}
.customer .list-group ul li dl dd a:hover{
    text-decoration: none;
}
.customer .list-group ul li dl dd a svg{
    width:14px;
    height:14px;
    fill:#06cfa7;
}
 /* ======== 版权 =====*/
.copyright{
    background-color: #727272;
    color:#fff;
    padding:30px 0;
}
.copyright .parters{

}
.copyright .parters dl{
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
}
.copyright .parters dl dd{
    padding:10px 0 0;
}
.copyright .parters dl dd a{
    color:#fff;
    transition:0.5s;

}
.copyright .parters dl dd a:hover{
    text-decoration: none;
    color:#bbb;
}
.copyright .footer p a{
    color:#bbb;
}
.copyright .footer p a:hover{
    text-decoration: none;
    color:#fff;
}
.copyright .footer > a{
    text-decoration: none;
    color:#fff;
}
.svg-icon-box{
    display: none;
}
